@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 23px;
}
